*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root{
  --body-bg: #fafafa;
  --divider: #dbdbdb;
  --hover-bg: #fafafa;
  --text-color: #262626;
  --blue-btn-color: #0095f6;
}

body{
  position: relative;
  overflow-x: hidden;
}

.loader{
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999999;
}

.second-loader-img img{
  width: 80px;
}

.first-loader-img img{
  width: 70px;
}

/* ACTIVE PAGE/ ELEMENT */
.home-active svg path{
  color: #000;
  fill: #000;
}

.home-active p{
font-weight: 700;
}

.notification svg{
  fill: transparent;
  color: black;
  stroke: black;
  stroke-width: 4px;
  width: 26px;
}

.notification-active svg{
  fill: black;
}

.saved  polygon{
  fill: black;
  color: black;
}

.saved:hover{
  opacity: 1 !important;
}

.discover-active svg{
  background-color: #000;
  border-radius: 50%;
}

.discover-active p{
  font-weight: 700;
}

.discover-active polygon{
  fill: black;
  color: white;
}

.discover-active .poly2{
  fill: white;
}

.message-active p{
font-weight: 700;
}

.search-icon-active svg{
  /* transform: translate(0px, 2px) scale(1.1); */
}

.search-icon-active path{
  stroke-width: 3;
}

.search-icon-active line{
  stroke-width: 3;
}

.search-icon-active p{
  font-weight: 700;
}

.create-post-active svg path{
  color: #000;
  fill: #000;
}

.create-post-active svg line{
  color: #fff;
  fill: #fff;
}

.create-post-active p{
font-weight: 500;
}

.dp-active{
  border: 2px solid black;
  width: 26px;
  height: 26px;
}

.profile-active p{
  font-weight: 700;
}


/* NAVBAR STYLE */
nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  max-width: 244px;
  width: 100%;
  padding: 8px 12px;
  border-right: 1px solid var(--divider);
  /* transition: 0.5s; */
  z-index: 9999;
}

.active-nav{
  width: 73px;
}

.active-nav-text{
  display: none !important;
  opacity: 0 !important;
}

.nav-text{
  transition: 0.5s;
  opacity: 1;
  color: var(--text-color);
}

.navbar-container{
  width: auto;
  height: 100%;
}

/* SLIDING SIDEBAR'S */
.search-sidebar{
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 10;
  transition: all .40s ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.098));
}

.search-result{
  text-align: center;
  width: 100%;
  height: 451px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result p{
  font-size: 14px;
  font-weight: 600;
  color: rgb(142, 142, 142);
  text-align: center;
  width: 100%;
}

.search-sidebar-bottom{
  height: 100%;
}

.showing-search-sidebar{
  transform: translateX(73px);
  opacity: 1;
  transition: all .40s ease-in-out;
  z-index: 999;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.098));
}

.search-sidebar-head{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.search-sidebar h1{
  font-size: 23px;
  font-weight: 600;
  padding: 5px;
}

.search-container{
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  height: 40px;
  min-width: 125px;
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #efefef;
  margin-bottom: 10px;
}

.search{
background: transparent;
border: none;
outline: none;
text-transform: capitalize;
font-size: 16px;
width: 100%;
}

.search-sidebar-bottom-cta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.search-sidebar-bottom-cta p{
  font-weight: 600;
  font-size: 16px;
}

.search-sidebar-bottom-cta a{
  font-weight: 600;
  font-size: 14px;
  color: var(--blue-btn-color);
} 

.notification-sidebar{
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  display: flex;
  opacity: 0;
  align-items: center;
  z-index: 999;
  transform: translateX(-100%);
  transition: all .40s ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.098));
}

.showing-notification-sidebar{
  transform: translateX(73px);
  opacity: 1;
}

.activity-notification{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px 40px;
  text-align: center;
  background-color: #fff;
}

.notification-bg{
  background-repeat: no-repeat;
  background-position: -306px -132px;
  height: 62px;
  width: 62px;
  background-image: url(/activity\ background.png);
}

.notification-header{
  font-size: 14px;
  color: #262626;
}

.notification-p{
  font-size: 14px;
  color: #262626;
}


/* DROPDOWN'S STYLE */
.profile-dropdown{
  width: 230px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -275px;
  left: 5px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.098));
}

.profile-dropdown-li{
  padding: 9px 16px;
  color: var(--text-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-top: 1px solid rgb(219, 219, 219);
  flex: 0 0 auto;
}

.profile-dropdown-li:nth-child(1){
  border-top: none;
}

.profile-dropdown-li:last-child{
  flex-direction: row;
}

.profile-dropdown-li:hover{
  background: #fafafa;
  cursor: pointer;
}

.profile-dropdown-li a{
  font-size: 14px;
  height: 24px;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
}

.profile-dropdown-li-switch{
  padding: 8px 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 8px solid #efefef;
}

.profile-dropdown-li-switch:hover{
  background: #fafafa;
  cursor: pointer;
}

.profile-dropdown-li-switch a{
  font-size: 14px;
  height: 24px;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
}




/* NAVBAR LINK ITEM STYLE */
.profile,.notification,.discover,.post,.message,.home,.search-icon,.nav-more{
  display: flex;
  padding: 12px;
  margin-top: 4px;
  /* margin-bottom: 6px; */
  gap: 16px;
}

.search-icon:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-icon:hover > .search-icon-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.profile:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile:hover > .profile-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.discover:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.discover:hover > .discover-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.notification:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.notification:hover > .notification-btn-hover{
transform: scale(1.1);
transition: all 0.3s ease-in-out;
}

.post:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.post:hover > .post-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.message:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.message:hover > .message-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.home:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home:hover > .home-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.nav-more-container{
 position: relative;   
}

.nav-more:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: var(--hover-bg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-more:hover > .nav-more-btn-hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.nav-more{
  margin-top: 40px;
}

.dp{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.dp img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}



/* LOGO STYLE */
.logo-conatiner{
  padding-top: 35px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 78px;
}

#logo-1{
  display: none;
}

.active-nav #logo-1{
  display: flex;
}

.active-nav #logo-2{
  display: none;
}


/* HOMEPAGE STYLE */
.homepage{
  max-width: calc(100% - 244px);
  width: 100%;
  height: 100vh;
  /* background-color: transparent; */
  background: var(--body-bg);
  position: absolute;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.left-side-homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  width: 100%;
}


.left-side-homepage > footer{
  display: none;
}



/* INSTA STORY SECTION STYLE*/
.story-section{
  position: relative;
  background: #ffff;
  border: 1px solid var(--divider);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 28px;
  padding-bottom: 32px;
  padding-top: 32px;
  max-width: 470px;
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.story-next-btn{
  position: absolute;
  right: 20px;
  background-image: url(/slide\ btn.png);
  background-repeat: no-repeat;
  background-position: -305px -282px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 999;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
}

.story-go-back-btn{
  position: absolute;
  left: 20px;
  background-image: url(/slide\ btn.png);
  background-repeat: no-repeat;
  background-position: -303px -235px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 999;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
}

.story-slides{
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-left: 16px;
  padding-right: 16px;
}

.story-slides::-webkit-scrollbar{
  display: none;
}

.slide{
  max-width: 66px;
  width: 100%;
  height: 84px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  padding: 0px 3px;
  margin-top: 7px;
  cursor: pointer;
}

.slide img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  border: 2px solid #fff;
  top: -2px;
  left: -2px;
}

.story-ring::before{
  content: '';
  width: 66px;
  height: 66px;
  position: absolute;
  background: radial-gradient(
      circle at 30% 100%,
       #feda75 30%,
       #fa7e1e 50%,
       #d62976 70%,
       #962fbf 110%
  );
  top: -5px;
  left: -5px;
  border-radius: 50%;
}

.story-ring{
  width: 56px;
  height: 56px;
}

.slide p{
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px; 
  font-weight: 400;
  letter-spacing: .01em;
  padding-right: 4px;
  padding-left: 4px;
  max-width: 74px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  color: var(--text-color);
}



/* INSTA FEED STYLE */
.feed-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 470px;
  width: 100%;
  overflow: hidden;
}

.feed-post{
  max-width: 470px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--divider);
  margin-bottom: 12px;
}

.post-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 12px;
}

.post-info{
  display: flex;
  gap: 3px;
  align-items: center;
}

.profile-pic{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #fff;
  top: -3px;
  left: -3px;
}

.profile-pic-ws{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.timeline-story{
  position: relative;
  width: 32px;
  height: 32px;
}

.timeline-story::before{
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  background: radial-gradient(
      circle at 30% 100%,
       #feda75 30%,
       #fa7e1e 50%,
       #d62976 70%,
       #962fbf 110%
  );
  top: -5px;
  left: -5px;
  border-radius: 50%;
}

.info-text{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.more-option{
  padding: 8px;
}

.account-name{
  font-size: 14px;
  color: #262626;
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: pointer;
}

.account-caption{
  font-size: 12px;
  margin-top: 2px;
  color: #262626;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.multiple-post-body{
  max-width: 470px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
}

.multiple-img img{
  width: 100vw !important;
  height: 100%;
  object-fit: cover;
}

.post-body{
  max-width: 470px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-body-main{
  overflow: hidden;
  max-width: 470px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.multiple-post-body::-webkit-scrollbar{
  display: none;
}

.post-next-btn{
  position: absolute;
  right: 20px;
  top: 50%;
  /* background-image: url(./Img/slide\ btn.png); */
  background-repeat: no-repeat;
  background-position: -305px -282px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 999;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
}

.post-go-back-btn{
  position: absolute;
  left: 20px;
  top: 50%;
  /* background-image: url(./Img/slide\ btn.png); */
  background-repeat: no-repeat;
  background-position: -303px -235px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 999;
  border: none;
  outline: none;
  cursor: auto;
  opacity: 0;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
}

.post-body img{
  max-width: 470px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sponsored-post{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  min-height: 55px;
  width: 100%;
  background: rgb(119, 128, 49);
}

a{
  text-decoration: none;
}

.sponsored-post p{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.sponsored-post span svg{
  transform: rotate(90deg);
}

.reaction{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.left{
  align-items: center;
  justify-content: baseline;
  display: flex;
}

.save-btn,.like-btn,.share-btn,.comment-btn{
  padding: 8px;
  cursor: pointer;
}

.post-stats{
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.like-count{
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.caption{
  font-size: 14px;
  color: #262626;
  line-height: 23px;
}

.caption a{
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}

.tag{
  text-decoration: none;
  color: rgb(0, 55, 107) !important;
  font-weight: 400 !important;
  font-size: 14px;
}

.comment-count{
  font-size: 14px;
  color: #8e8e8e;
  text-decoration: none;
}

.post-time{
  font-size: 10px;
  color: #8e8e8e;
}

.comment{
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(239, 239, 239);
}

.comment-input{
display: flex;
align-items: center;
justify-content: space-between;
flex: 1 1 auto;
}

.input-comment{
 border: none;
 background: transparent;
 outline: none;
 width: 100%;
 resize: none;
 height: 18px;
}

.input-comment:active,.input-comment:focus ~ .post-btn{
 opacity: 1;
}

.emoji{
  padding: 8px 12px 8px 0;
  cursor: pointer;
}

.post-btn{
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px!important;
  text-align: center;
  width: auto;
  margin: 0;
  opacity: .3;
  color: rgb(0, 149, 246);
  text-transform: capitalize;
}

/* .save-btn:hover{
 opacity: .5;
 transition: all .40s;
}

.like-btn:hover{
  opacity: .5;
  transition: all .40s;
}  */

.comment-btn:hover{
  opacity: .5;
  transition: all .40s;
} 

.share-btn:hover{
  opacity: .5;
  transition: all .40s;
}



/* ASIDE STYLE */
aside{
  width: 319px;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
}

.aside-footer-list{
  display: flex;
  width: 335px;
  line-height: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
}

.aside-footer-list-item{
  font-size: 12px;
  list-style: none;
  padding-right: 3px;
}

.aside-footer-list-item a{
  text-decoration: none;
  color: #8e8e8e;
  opacity: 0.5;
}

.aside-footer-title{
  color: #8e8e8e;
  opacity: 0.5;
  font-size: 14px; 
}

.my-account{
  display: flex;
  align-items: center;
}

.my-account img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  cursor: pointer;
}

.switch a{
  font-size: 12px;
  margin-left: 8px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--blue-btn-color);
  font-weight: 600;
}

.account-info{
  margin-left: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.account-info-name{
  font-weight: 600;
}

.account-cto{
  color: #8e8e8e;
  cursor: auto;
}

.other-account{
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  padding-top: 6px;
}

.other-account img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
  cursor: pointer;
}

.follow a{
  font-size: 12px;
  margin-left: 8px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--blue-btn-color);
  font-weight: 600;
}

.other-info{
  margin-left: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.other-info p{
color: #262626;
font-weight: 600;
}

.other-cto{
  font-size: 12px !important;
  color: #8e8e8e !important;
  font-weight: 400 !important;
  cursor: auto;
}

.suggestion{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

.suggest{
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

.suggest-cto a{
  font-size: 12px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}



/* POPUP'S STYLE */
.more-option-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  overflow: hidden;
}

.visible{
  display: flex;
}

.more-option{
  cursor: pointer;
}

.more-option-list{
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  border-radius: 12px;
  overflow: hidden;
  margin: 20px;
}

.more-list-items{
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  display: inline-grid;
  place-content: center;
}

.more-list-items:active{
  background-color: #efefef;
}

.more-list-items a{
  text-decoration: none;
  color: #262626;
}

.important-option a{
  font-weight: 700;
  color: rgb(237, 73, 86) !important;
}



/* UNFOLLOW POP UP */
.unfollow-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  overflow: hidden;
}

.unfollow-section{
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  border-radius: 12px;
  overflow: hidden;
  margin: 20px;
}

.unfollow-list{
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.unfollow-list-item{
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  display: inline-grid;
  place-content: center;
}

.unfollow-list-item:active{
  background-color: #efefef;
}

.unfollow-list-items a{
  text-decoration: none;
  color: #262626;
}

.important-option-unfollow{
  font-weight: 700;
  color: rgb(237, 73, 86) !important;
}

.unfollow-img-section{
  height: auto;
  margin: 32px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unfollow-img-section img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.unfollow-modal p{
  font-weight: 400;
  font-size: 14px;
  margin: 16px 32px;
  text-align: center;
}


/* HORIZONTAL NAVBAR */
.horizontal-navbar-top{
  display: none;
}

.horizontal-navbar-bottom{
  display: none;
}

/* MESSAGE STYLE SECTION */
.message-container{
  /* max-width: calc(100% - 244px); */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  /* right: 0; */
}

.message-section{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 935px;
  height: 563px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  margin-top: 56px;
}

.chat-list{
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.switch-chat-acct-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-chat-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-chat{
  padding-top: 8px;
}

.active-list{
  display: inline-flex;
  width: 100%;
  flex: 1 1 auto;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
}

.active-list:hover{
  background: #fafafa;
}

.general-chat-display{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 585px;
  height: 100%;
  border-left: 1px solid rgb(219, 219, 219);
}

.chat-display-header{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 300;
  color: #262626;
}

.chat-display-p{
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
}

.chat-display-btn{
  margin-top: 24px;
  border-radius: 4px;
  padding: 6px 10px;
  width: auto;
  display: block;
  color: #fff;
  background: rgb(0, 149, 246);
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.chat-profile{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.chat-message{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #8e8e8e;
  margin-top: 4px;
  font-weight: 400;
}

.chat{
  text-decoration: none;
}

.switch-chat-acct-head{
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.switch-chat-acct{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.down-switch-chevron{
  padding: 8px;
  transform: rotate(180deg);
}

.new-message-icon{
  cursor: pointer;
}

.online{
  position: relative;
}

.online::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #78de45;
  border: 3px solid #fff;
  position: absolute;
  bottom: 3px;
  right: 12px;
}

/* DISCOVER PAGE STYLE */
.discover-search{
  display: none;
}

.discover-page{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 24px 20px 40px 20px;
  /* max-width: calc(100% - 244px); */
  width: 100%;
  background-color: transparent;
  display: flex;
}

.discover-page-one{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 28px;
}

.discover-item{
  max-width: 292.98px;
  width: 100%;
  height: 292.98px;
  object-fit: cover;
}

.discover-item-span{
  max-width: 292.98px;
  width: 100%;
  max-height: 292.98px;
  height: 100%;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}


.carousel{
  position: absolute;
  right: 15px;
  top: 15px;
}

.discover-item-span-reel{
  max-width: 292.98px;
  width: 100%;
  height: 613.97px;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}


.reel{
  position: absolute;
  right: 15px;
  top: 15px;
}

.span-1{
grid-row: 1/ span 2;
grid-column: 3;
height: 613.97px;
}

.span-2{
  grid-row: 3/ span 2;
  height: 613.97px;
  grid-column: 1;
}

.discover-item-span-reel-1{
  grid-row: 1/ span 2;
  grid-column: 3;
  height: 613.97px;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}
  
.discover-item-span-reel-2{
  grid-row: 3/ span 2;
  height: 613.97px;
  grid-column: 1;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}

/* CREATE POSTS SECTION */

.create-post-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  overflow: hidden;
}

.post-exit{
  position: absolute;
  right: 20px;
  top: 20px;
}

.create-post-main{
  width: 444px;
  background: #fff;
  border-radius: 12px;
}

.create-post-head{
  width: 444px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.post-media{
  width: 444px;
  height: 444px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.create-head{
  font-size: 16px;
  color:#262626;
}

.post-explain{
  font-size: 22px;
  color: #262626;
  font-weight: 400;
}

.create-post-btn{
  border-radius: 5px;
  padding: 7px 10px;
  width: auto;
  display: block;
  color: #fff;
  background: rgb(0, 149, 246);
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

/* USER PROFILE */
.user-profile{
  display: flex;
  flex-direction: column;
  max-width: 935px;
  width: 100%;
  height: 100vh;
  padding: 30px 20px 0;
  margin: 0 auto 30px;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.profile-color{
  background-color: rgb(255, 255, 255);
}

.user-profile-head-container{
  display: flex;
  gap: 30px;
  width: 100%;
  position: relative;
  margin-bottom: 44px;
}

.user-profile-picture{
  width: 290px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
}

.user-profile-picture img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.user-profile-stats{
  display: flex;
  flex-direction: column;
  flex-basis: 30px;
  gap: 20px;
  flex-grow: 2;
  max-width: 613px;
  width: 100%;
}
.profile-stats-1,.profile-stats-2,.profile-stats-3{
  display: flex;
}

.profile-stats-1{
  align-items: center;
}

.profile-stats-1 h1{
  font-weight: 400;
  font-size: 20px;
}

.profile-stats-3{
  flex-direction: column;
}

.edit-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30px; */
  margin-left: 20px;
  margin-right: 5px;
  /* border: 1px solid rgb(219, 219, 219); */
  background-color: rgb(239, 239, 239);
  color: rgb(38, 38, 38);
  border-radius: 8px;
  text-decoration: none;
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.profile-setting{
  padding: 8px;
}

.profile-setting svg{
  cursor: pointer;
}

.profile-stats-2{
  gap: 40px;
  display: flex;
  align-items: center;
}

.profile-stats-2 p{
  font-weight: 400;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.profile-stats-2 a{
  font-weight: 600 !important;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.number-post{
 cursor: auto;
}

.profile-stats-3{
  line-height: 28px;
}

/* .profile-stats-3 :first-child{
  font-weight: 600;
} */

.name{
  font-weight: 600;
}

.bio-link{
  color: #0095f6;
}

.user-profile-bottom-section-container{
  border-top: 1px solid rgb(219, 219, 219);
}

.user-profile-bottom-cta{
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: center;
}
.user-profile-bottom-cta-list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 52px;
  align-items: center;
  justify-content: center;
}

.user-profile-bottom-cta-list-item li{
display: flex;
gap: 6px;
align-items: center;
justify-content: center;
list-style: none;
color: #8e8e8e;
font-size: 0.75em;
height: 100%;
cursor: pointer;
}

.active-bottom-cta{
  border-top: 1px solid rgb(38, 38, 38);
}

.active-bottom-cta p{
  color: #262626;
  font-weight: 500;
}

.active-bottom-cta svg{
  color: #262626;
  font-weight: 500;
}

.user-profile-bottom-cta-list-item li p{
  letter-spacing: 1px;
} 

.user-profile-bottom-bg{
  background-repeat: no-repeat;
  background-position: -128px -269px;
  height: 62px;
  width: 62px;
  background-image: url(/user-profile-bg.png);
}

.profile-bottom-cta-slide-1{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 44px 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-bottom-cta-slide-1 h1{
font-weight: 900;
font-size: 30px;
}

.profile-bottom-cta-slide-1 p{
  font-weight: 400;
  font-size: 14px;
}

.profile-bottom-cta-slide-1 a{
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 149, 246);
} 

.mobile-stats-two, .profile-navbar, .mobile-stats-one{
  display: none;
}

.user-profile-bottom-bg-3{
  background-repeat: no-repeat;
  background-position: -256px -269px;
  height: 62px;
  width: 62px;
  background-image: url(/user-profile-bg.png);
}

.profile-bottom-cta-slide-3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 66px 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-bottom-cta-slide-3 h1{
font-weight: 900;
font-size: 30px;
}

.profile-bottom-cta-slide-3 p{
  font-weight: 400;
  font-size: 14px;
}

.profile-bottom-cta-slide-2{
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  gap: 24px;
  margin: 20px 60px;
  margin-left: 0;
  margin-right: 0;
  max-width: 950px;
}

.profile-bottom-cta-slide-2 p{
  font-weight: 400;
  font-size: 13px;
  color: #8e8e8e;
}

.profile-bottom-cta-slide-2 a{
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 149, 246);
} 

.saved-post-grid{
  background-image: linear-gradient( to top, rgba(38, 38, 38, .6), rgba(255, 255, 255, 0) );
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.saved-post-overlay{
  width: 300px;
  height: 300px;
  position: absolute;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  background-color: transparent;
}

.saved-post-overlay h2{
  font-weight: 500;
  font-size: 1.3rem;
}

.saved-post-grid img{
  width: 100%;
  height: 100%;
}

footer{
  padding: 65px 0;
  width: auto;
  display: flex;
  line-height: 20px;
}

.footer-list{
  display: flex;
  column-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  max-width: 982px;
  width: 100%;
  line-height: 45px;
}

.footer-list-item{
  font-size: 14px;
  list-style: none;
}

.footer-list-item a{
  text-decoration: none;
  color: #8e8e8e;
}

.footer-title{
  color: #8e8e8e;
  font-size: 14px; 
}

@media screen and (max-width: 1264px){
      nav{
          position: fixed;
          display: flex;
          flex-direction: column;
          height: 100vh;
          background-color: #fff;
          max-width: 73px;
          width: 100%;
          padding: 8px 12px;
          border-right: 1px solid var(--divider);
          transition: 0.5s;
          z-index: 9999;
      }
      
      .nav-text{
          transition: 0.5s;
          opacity: 0;
          display: none;
          color: var(--text-color);
      }

      .homepage{
          max-width: calc(100% - 73px);
          width: 100%;
          height: 100vh;
          background-color: transparent;
          position: absolute;
          right: 0;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 32px;
      }

      #logo-1{
          display: block;
      }

      #logo-2{
          display: none;
      }
}

@media screen and (max-width: 999px){
  aside{
      display: none;
  }

  .left-side-homepage > footer{
      display: flex;
  }
}

@media screen and (max-width: 768px){
  :root{
      --body-bg: #fff;
      --divider: transparent;
      --hover-bg: #fafafa;
      --text-color: #262626;
      --blue-btn-color: #0095f6;
  }

  nav{
      position: fixed;
      display: none;
      flex-direction: column;
      height: 100vh;
      background-color: #fff;
      max-width: 73px;
      width: 100%;
      padding: 8px 12px;
      border-right: 1px solid var(--divider);
      transition: 0.5s;
      z-index: 100;
  }

  .logo{
      display: flex;
  }

  .homepage{
      max-width: 100vw;
      height: 100vh;
      background-color: transparent;
      position: absolute;
      right: 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
  }

  .left-side-homepage > footer{
      display: none;
  }

  .horizontal-navbar-top{
      display: flex;
      width: 100vw;
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      padding-left: calc(12px + 4px);
      background: #fff;
      position: fixed;
      top: 0;
      z-index: 1000;
      border-bottom: 1px solid var(--divider);
  }

  .horizonatl-logo-container{
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
  }

  .down-arrow{
      padding: 8px;
      z-index: 10;
      display: none;
      height: 35px;
      cursor: pointer;
      opacity: 1;
  }

  .horizontal-navbar-top-right{
      display: flex;
  }


  /* HORIZONTAL NAVBAR BOTTOM */
  .horizontal-navbar-bottom{
      display: flex;
      width: 100vw;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: #fff;
      position: fixed;
      bottom: -1px;
      z-index: 1000;
      border-top: 1px solid var(--divider);
  }

  .story-section {
  position: relative;
  background: #ffff;
  border: 1px solid var(--divider);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: calc(16px + 60px);
  padding-bottom: 32px;
  padding-top: 32px;
  max-width: 470px;
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  overflow: hidden;
  }

  .story-next-btn{
      display: none;
      position: absolute;
      right: 20px;
      /* background-image: url(./Img/slide\ btn.png); */
      background-repeat: no-repeat;
      background-position: -305px -282px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      outline: none;
      z-index: 999;
      cursor: pointer;
      -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  }
  
  .story-go-back-btn{
      display: none;
      position: absolute;
      left: 20px;
      /* background-image: url(./Img/slide\ btn.png); */
      background-repeat: no-repeat;
      background-position: -303px -235px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border-radius: 50%;
      z-index: 999;
      border: none;
      outline: none;
      cursor: auto;
      opacity: 0;
      -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  }

  /* PROFILE DROPDOWN */
  .logo-dropdown{
      display: flex;
      opacity: 0;
      transform: translateY(-100%);
      transform: translateY(0);
      transition: opacity 75ms linear, transform 38ms ease-out;
      flex-direction: column;
      position: absolute;
      top: 57px;
      background-color: #fff;
      border-radius: 6px;
      -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
  }
  
  .dropdown-visible{
      display: flex;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 75ms linear, transform 38ms ease-out;
  }
  
  .logo-dropdown-li{
      padding: 8px 16px;
      color: #262626;
      display: flex;
      align-items: center;
      gap: 12px;
  }
  
  .logo-dropdown-li:hover{
      background: #fafafa;
      cursor: pointer;
  }
  
  .logo-dropdown-li a{
      font-size: 14px;
      height: 24px;
      margin-right: 4px;
      font-weight: 400;
      text-transform: capitalize;
      color: #262626;
      text-decoration: none;
  }

  
/* NAVBAR LINK ITEM STYLE */
.search-icon:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-icon:hover > .search-icon-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.profile:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile:hover > .profile-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.discover:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.discover:hover > .discover-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.notification:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.notification:hover > .notification-btn-hover{
transform: none;
transition: all 0.3s ease-in-out;
}

.post:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.post:hover > .post-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.message:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.message:hover > .message-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.home:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home:hover > .home-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.nav-more-container{
 position: relative;   
}

.nav-more:hover{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-more:hover > .nav-more-btn-hover{
  transform: none;
  transition: all 0.3s ease-in-out;
}

.nav-more{
  margin-top: 35px;
}

.dp{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.dp img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}


.general-chat-display{
  display: none;
}


.switch-chat-acct-head{
  border-bottom: transparent;
}

.message-section{
  border: transparent;
  width: 100%;
  margin-top: 0px;
}

.chat-list{
  width: 100%;
}

.switch-chat-acct{
  justify-content: unset;
}

.discover-page{
  padding: 0px 0px 50px 0px;
  gap: 2px;
}

.discover-page-one{
  gap: 2px;
}

.discover-item{
  max-width: 292.98px;
  width: 100%;
  max-height: 125.49px;
  object-fit: cover;
}

.discover-item-span{
  max-width: 292.98px;
  width: 100%;
  max-height: 125.49px;
  height: 100%;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}


.discover-item-span-reel{
  max-width: 292.98px;
  width: 100%;
  max-height: 252.98px;
  height: 100%;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}


.span-1{
grid-row: 1/ span 2;
grid-column: 3;
max-height: 252.98px;
height: 100%;
}

.span-2{
  grid-row: 3/ span 2;
  max-height: 252.98px;
  height: 100%;
  grid-column: 1;
}

.discover-item-span-reel-1{
  grid-row: 1/ span 2;
  grid-column: 3;
  max-height: 252.98px;
  height: 100%;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}
  
.discover-item-span-reel-2{
  grid-row: 3/ span 2;
  max-height: 252.98px;
  height: 100%;
  grid-column: 1;
  object-fit: cover;
  position: relative; 
  cursor: pointer;
  z-index: 10;
}

.carousel svg{
  width: 16px;
}

.carousel, .reel{
  top: 7px;
  right: 7px;
}

.reel svg{
  width: 16px;
}

.footer-list-item{
  font-size: 12px;
}

.footer-list{
  padding: 0px 10px 0px 10px;
  line-height: 35px;
  max-width: 100%;
}

.search-sidebar{
  transform: translateY(-100%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 40vh;
  display: none;
}

.search-sidebar-head{
  gap: 20px;
  border-bottom: none;
}

.search-sidebar h1{
  font-size: 20px;
}

.showing-search-sidebar{
  transform: translateY(60px);
  display: none;
}

.notification-sidebar{
  transform: translateY(-100%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 40vh;
  max-width: 100%;
  width: 100%;
}

.showing-notification-sidebar{
  transform: translateY(60px);
}

.create-post-head, .create-post-main, .post-media{
  max-width: 444px;
  width: auto;
}

.post-media{
  padding: 38px;
}

.post-explain{
  font-size: 20px;
}

.create-head{
  font-size: 14px;
}

.discover-search{
  display: flex;
  width: 100%;
}

.search-container{
  margin-bottom: 0px;
}

footer{
  display: none;
}

.user-profile-picture img {
  width: 77px;
  height: 77px;
}

.user-profile-picture {
width: 77px;
height: 100%;
margin-right: 28px;
}  

.profile-setting{
  display: none;
}

.profile-stats-1 {
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.edit-profile {
max-width: 250px;
width: 100%;
margin: 0;
} 

.user-cta{
  width: 100%;
}
.user-cta p{
  display: none;
}

.user-cta svg{
  width: 24px;
  height: 24px;
}
.active-bottom-cta svg {
  color: var(--blue-btn-color);
}

.mobile-stats-two{
  display: flex;
  padding: 12px 0px 12px 0px;
  justify-content: center;
  border-top: 1px solid rgb(219, 219, 219);
}

.mobile-stats-two p{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(142, 142, 142);
}

.mobile-stats-two p a{
  color: #000;
  font-weight: 500;
}

.user-profile-bottom-cta-list-item, .user-profile-head-container{
  gap: 0px;
}

.user-profile-head-container{
  padding: 0px 20px 0px 20px;
}

.user-profile{
  padding: 18px 0px 0;
  min-height: calc(100vh + 50px);
}

.profile-navbar{
  align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
}

.mobile-stats-one{
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  font-size: 14px;
  color: #262626;
}

.name{
  font-weight: 500;
}

.bio-link{
  color: var(--blue-btn-color);
}

.profile-stats-2, .profile-stats-3{
  display: none;
}

.profile-bottom-cta-slide-2 {
  flex-direction: column;
  align-items: center;
  height: calc(100% + 60px);
  justify-content: center;
}

.saved-post-overlay{
  background-color: transparent;
}
}

@media screen and (max-width: 735px){
.comment{
  display: none;
}

.post-stats{
  padding: 8px 8px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.feed-post:last-child{
  margin-bottom: 62px;
}
}